body {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    margin: auto;
    max-width: 50%;
    font-size: 2em;
}

button {
    font-size: 3em;
    margin: 10px;
    width: 60px ;
    height: 60px;
}

#resultado {
    margin: 25px;
    font-size: 4em;
}